body {
    font-family: consolas;
    font-size: large;
}

span {
    font-weight: bold;
}

.delete {
    color: red;
    background-color: transparent;
    cursor: pointer;
}

.error {
    color: red;
    font-style: 1.3em;
}