<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>L5</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <script src="../angular/angular.min.js"></script>
    <script src="./js/app.js"></script>
</head>
<body ng-app="MainApp">
    <div class="container">
        <h1>L5</h1>
        <h2>Custom Service</h2>
        <div ng-controller="ShoppingListAddController as itemAdder">
            <div>
                <input type="text" placeholder="Item name" ng-model="itemAdder.newItemName" />
                <input type="text" placeholder="Item cost" ng-model="itemAdder.newItemCost" />
                <button class="btn btn-success" ng-click="itemAdder.addToList();">Add To List</button>
            </div>
        </div>
        <div ng-controller="ShoppingListShowController as showList">
            <p>List: </p>
            <ul>
                <li ng-repeat="item in showList.items">
                    {{ item.name }}: {{ item.cost | currency : "$" : 2 }}
                    <span class="delete" ng-click="showList.removeItem($index);">X</span>
                </li>
            </ul>
        </div>
        <h2>Factory</h2>
        <div class="row">
            <div id="List1" class="col-sm-6" ng-controller="ShoppingListController1 as list1">
                <h3>ShoppingList1</h3>
                <div>
                    <input type="text" placeholder="Item name" ng-model="list1.newItemName" />
                    <input type="text" placeholder="Item cost" ng-model="list1.newItemCost" />
                    <button class="btn btn-success" ng-click="list1.addToList();">+</button>
                </div>
                <div>
                    <p>List1: </p>
                    <ul>
                        <li ng-repeat="item in list1.items">
                            {{ item.name }}: {{ item.cost | currency : "$" : 2 }}
                            <span class="delete" ng-click="list1.removeItem($index);">X</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="List2" class="col-sm-6" ng-controller="ShoppingListController2 as list2">
                <h3>ShoppingList2</h3>
                <div>
                    <input type="text" placeholder="Item name" ng-model="list2.newItemName" />
                    <input type="text" placeholder="Item cost" ng-model="list2.newItemCost" />
                    <button class="btn btn-success" ng-click="list2.addToList();">+</button>
                </div>
                <div>
                    <p>List2: </p>
                    <ul>
                        <li ng-repeat="item in list2.items">
                            {{ item.name }}: {{ item.cost | currency : "$" : 2 }}
                            <span class="delete" ng-click="list2.removeItem($index);">X</span>
                        </li>
                    </ul>
                    <p class="error"> {{ list2.errorMessage }} </p>
                </div>
            </div>
        </div>
        <h2>Provider</h2>
        <div id="List" ng-controller="ProviderController as list">
            <h3>ShoppingList3</h3>
            <div>
                <input type="text" placeholder="Item name" ng-model="list.newItemName" />
                <input type="text" placeholder="Item cost" ng-model="list.newItemCost" />
                <button class="btn btn-success" ng-click="list.addToList();">+</button>
            </div>
            <div>
                <p>List2: </p>
                <ul>
                    <li ng-repeat="item in list.items">
                        {{ item.name }}: {{ item.cost | currency : "$" : 2 }}
                        <span class="delete" ng-click="list.removeItem($index);">X</span>
                    </li>
                </ul>
                <p ng-if="list.errorMessage" class="error">ng-if Error: {{ list.errorMessage }} </p>
                <p ng-show="list.errorMessage" class="error">ng-show Error: {{ list.errorMessage }} </p>
                <p ng-hide="list.errorMessage" class="error">ng-hide No Error</p>
            </div>
        </div>
    </div>
</body>
</html>