body {
    font-family: consolas;
    font-size: large;
}

span {
    font-weight: bold;
}

.delete {
    color: red;
    background-color: transparent;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
}

.info {
    color: lightgreen;
    font-style: italic;
    font-size: larger;
}